i<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>

<body>
    <header>
        <div class="container">
            <div class="profile">
                <img src="/assets/IMG_1566.JPG" alt="Profile Picture">
                <div class="profile-text">
                    <h1>Imran Kibria</h1>
                    <h2>Ph.D. student, Computer Science & Engineering</h2>
                    <p> I am a third year PhD student in the Audio Speech and Perceptually Inspired Research (<a href="https://the-aspire-group.github.io/">ASPIRE</a>) lab at the Ohio State University. I work under the supervision of <a href=" https://engineering.osu.edu/people/williamson.413">Donald Williamson</a>. My research focuses on deep learning models for speech quality assessment & enhancement. I design small scale models for subjective quality prediction. These models are built to generalize well across domain shifts and label noise. I also research generative methods for speech quality enhancement. </p>
                </div>
            </div>
            <div class="social-icons">
                <div>
                    <a href="mailto:kibria.5@osu.edu" target="_blank" title="Email Address">
                        <img src="/assets/icons/email-circular.jpeg" alt="Email Icon" >
                    </a>
                    <a href="mailto:kibria.5@osu.edu" target="_blank" class="custom-link" title="Email Address">Email</a>
                </div>
                <div>
                    <a href="https://scholar.google.com/citations?user=kQgnzS0AAAAJ&hl=en" target="_blank" title="GoogleScholar">
                        <img src="/assets/icons/scholar_circular.png" alt="Google Scholar Icon">
                    </a>
                    <a href="https://scholar.google.com/citations?user=kQgnzS0AAAAJ&hl=en" target="_blank" class="custom-link" title="GoogleScholar">Scholar</a>
                </div>
                <div>
                    <a href="/assets/files/ImranInternshipResume.pdf" target="_blank" title="CV">
                        <img src="/assets/icons/cv-circular.jpeg" alt="CV Icon">
                    </a>
                    <a href="/assets/files/ImranInternshipResume.pdf" target="_blank" class="custom-link" title="CV">Resume</a>
                </div>
                <div>
                    <a href="https://github.com/ImranKibria" target="_blank" title="GitHub">
                        <img src="/assets/icons/github-circular.jpeg" alt="GitHub Icon">
                    </a>
                    <a href="https://github.com/ImranKibria" target="_blank" class="custom-link" title="GitHub">Github</a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/imran-kibria" target="_blank" title="LinkedIn">
                        <img src="/assets/icons/linkedin-circular.jpg" alt="LinkedIn Icon">
                    </a>
                    <a href="https://www.linkedin.com/in/imran-kibria" target="_blank" class="custom-link" title="LinkedIn">LinkedIn</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; {{ site.author }} | <a href="mailto:kibria.5@osu.edu" class="custom-link">Contact</a></p>
        </div>
    </footer>
</body>
</html>
