i<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>

<body>
    <header>
        <div class="container">
            <div class="profile">
                <img src="/assets/latest_display.jpg" alt="Profile Picture">
                <div class="profile-text">
                    <h1>Imran E Kibria</h1>
                    <!-- <h2>PhD Researcher in Speech & Audio AI</h2> -->
                    <p style="text-align: justify;">
                        I am a fourth-year CSE PhD student in the <a href="https://the-aspire-group.github.io/">ASPIRE</a> Lab at the Ohio State University. I specialize in speech quality assessment, speech enhancement, and building neural networks that generalize across diverse acoustic conditions. My research spans deep learning methods including architecture design, domain generalization, and small-scale modeling for edge applications.
                    </p>
                    
                    <p style="text-align: justify;">
                        Till date, my research has been featured at ICASSP, Interspeech, & EMBC conferences. I enjoy connecting with researchers and collaborating to advance speech and audio products through novel ideas and impactful innovations.
                    </p>

                </div>
            </div>
            <div class="social-icons">
                <div>
                    <a href="mailto:kibria.5@osu.edu" target="_blank" title="Email Address">
                        <img src="/assets/icons/email-circular.jpeg" alt="Email Icon" >
                    </a>
                    <a href="mailto:kibria.5@osu.edu" target="_blank" class="custom-link" title="Email Address">kibria.5@osu.edu</a>
                </div>

                <div>
                    <a href="https://scholar.google.com/citations?user=kQgnzS0AAAAJ&hl=en" target="_blank" title="GoogleScholar">
                        <img src="/assets/icons/scholar_circular.png" alt="Google Scholar Icon">
                    </a>
                    <a href="https://scholar.google.com/citations?user=kQgnzS0AAAAJ&hl=en" target="_blank" class="custom-link" title="GoogleScholar">Scholar</a>
                </div>

                <div>
                    <a href="https://github.com/ImranKibria" target="_blank" title="GitHub">
                        <img src="/assets/icons/github-circular.jpeg" alt="GitHub Icon">
                    </a>
                    <a href="https://github.com/ImranKibria" target="_blank" class="custom-link" title="GitHub">Github</a>
                </div>

                <div>
                    <a href="https://www.linkedin.com/in/imran-kibria" target="_blank" title="LinkedIn">
                        <img src="/assets/icons/linkedin-circular.jpg" alt="LinkedIn Icon">
                    </a>
                    <a href="https://www.linkedin.com/in/imran-kibria" target="_blank" class="custom-link" title="LinkedIn">LinkedIn</a>
                </div>
                
                <div>
                    <a href="/assets/files/ImranKibria_Internship_Resume.pdf" target="_blank" title="CV">
                        <img src="/assets/icons/cv-circular.jpeg" alt="CV Icon">
                    </a>
                    <a href="/assets/files/ImranKibria_Internship_Resume.pdf" target="_blank" class="custom-link" title="CV">Resume</a>
                </div>
                
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; {{ site.author }} | <a href="mailto:kibria.5@osu.edu" class="custom-link">Contact</a></p>
        </div>
    </footer>
</body>
</html>
