<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>

<body>
    <header>
        <div class="container">
            <div class="profile">
                <img src="/assets/IMG_0353.jpg" alt="Profile Picture">
                <div class="profile-text">
                    <h1>Imran Kibria</h1>
                    <h2>Ph.D. Researcher, Computer Science & Engineering</h2>
                    <p> I work on developing and applying signal processing, optimization, and deep learning techniques for advanced reconstruction of cardiac magnetic resonance imaging (MRI). My doctoral research, funded by NIH Grant R01HL151697, focuses on motion-robust, real-time whole-heart flow imaging innovations. I am co-advised by <a href="https://u.osu.edu/ahmad/" target="_blank" class="custom-link">Rizwan Ahmad</a> and <a href="https://u.osu.edu/potter.36/" target="_blank" class="custom-link">Lee Potter</a> at The Ohio State University. In summer 2025, I completed a research internship with the MR Feature Development team at Canon Medical Research USA (CMRU). I also received the <a href="https://gradsch.osu.edu/news/2024/04/11/leadership-celebrated-2023-24-graduate-associate-leadership-award" target="_blank" class="custom-link">Graduate Associate Leadership Award (2024)</a>. </p>
                </div>
            </div>
            <div class="social-icons">
                <div>
                    <a href="mailto:kibria.5@osu.edu" target="_blank" title="Email Address">
                        <img src="/assets/icons/gmail.png" alt="Gmail Icon" >
                    </a>
                    <a href="mailto:kibria.5@osu.edu" target="_blank" class="custom-link" title="Email Address">kibria.5@osu.edu</a>
                </div>
                <div>
                    <a href="https://scholar.google.com/citations?user=kQgnzS0AAAAJ&hl=en" target="_blank" title="GoogleScholar">
                        <img src="/assets/icons/scholar.png" alt="Google Scholar Icon">
                    </a>
                    <a href="https://scholar.google.com/citations?user=kQgnzS0AAAAJ&hl=en" target="_blank" class="custom-link" title="GoogleScholar">Imran E Kibria</a>
                </div>
                <div>
                    <a href="/assets/files/ImranInternshipResume.pdf" target="_blank" title="CV">
                        <img src="/assets/icons/cv.png" alt="CV Icon">
                    </a>
                    <a href="/assets/files/ImranInternshipResume.pdf" target="_blank" class="custom-link" title="CV">CV</a>
                </div>
                <div>
                    <a href="https://github.com/ImranKibria" target="_blank" title="GitHub">
                        <img src="/assets/icons/github.png" alt="GitHub Icon">
                    </a>
                    <a href="https://github.com/ImranKibria" target="_blank" class="custom-link" title="GitHub">ImranKibria</a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/imran-kibria" target="_blank" title="LinkedIn">
                        <img src="/assets/icons/linkedin.png" alt="LinkedIn Icon">
                    </a>
                    <a href="https://www.linkedin.com/in/imran-kibria" target="_blank" class="custom-link" title="LinkedIn">Imran Kibria</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; {{ site.author }} | <a href="mailto:kibria.5@osu.edu" class="custom-link">Contact</a></p>
        </div>
    </footer>
</body>
</html>
